# Python
__pycache__/
*.pyc
*.py[cod]
*.pyd
*.so
.Python
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Data & models (keep folders, ignore contents)
data/raw/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Secrets
.env

